<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
    </h:head>
    <h:body>
 
    	<h1>Lista de candidatos</h1>
 
            <h:dataTable value="#{registroBean.registro}" var="o"
    			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row">
 
    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">CPF</f:facet>
    				<!-- row record -->
    				#{o.cpf}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Nome</f:facet>
    				#{o.nome}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Cidade</f:facet>
    				#{o.cidade}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Estado</f:facet>
    				#{o.estado}
    			</h:column>
 
    		</h:dataTable>
 
    </h:body>
</html>